<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-android-window-background" version="1.0.1">
    <name>Android Window Background</name>
    <description>Plugin to set Android window background for Cordova/Ionic applications</description>
    <license>MIT</license>
    <author>WINTER</author>
    <keywords>cordova,ionic,android,window background,color,background,window,theme,styles.xml</keywords>

	<engines>
	  <engine name="cordova-android" version=">=6.3.0" />
	</engines>

  	<platform name="android">
  		<preference name="WINDOW_BACKGROUND_COLOR" />

  		<edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:name='MainActivity']" mode="merge">
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" android:label="@string/activity_name" android:launchMode="singleTop" android:name="MainActivity" android:theme="@style/CordovaWindowBackgroundTheme.Launcher" android:windowSoftInputMode="adjustResize"/>
  			<!-- <activity android:name="MainActivity" android:theme="@style/CordovaWindowBackgroundTheme.Launcher"/> -->
  		</edit-config>

      <source-file src="cordova_window_background_strings.xml" target-dir="res/values" />
      <source-file src="cordova_window_background_styles.xml" target-dir="res/values" />
  		<source-file src="cordova_window_background_launch_screen.xml" target-dir="res/drawable" />

  		<config-file target="res/values/cordova_window_background_strings.xml" parent="/*">
  			<color name="cordova_window_background">$WINDOW_BACKGROUND_COLOR</color>
  		</config-file>

  		<config-file target="res/drawable/cordova_window_background_launch_screen.xml" parent="/*">
        <item android:drawable="@color/cordova_window_background"/>

        <!-- offset by dialog title height to have centered with cordova splash screen plugin -->
        <item android:top="24dip">
          <bitmap android:src="@drawable/screen" android:gravity="fill"/>
        </item>
  		</config-file>

  		<config-file target="res/values/cordova_window_background_styles.xml" parent="/*">
        <style name="CordovaWindowBackgroundTheme" parent="@android:style/Theme.NoTitleBar">
        </style>
        <style name="CordovaWindowBackgroundTheme.Launcher">
          <item name="android:windowBackground">@drawable/cordova_window_background_launch_screen</item>
        </style>
  		</config-file>
  	</platform>
</plugin>
