<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-android-window-background" version="1.0.1">
    <name>Android Window Background</name>
    <description>Plugin to set Android window background for Cordova/Ionic applications</description>
    <license>MIT</license>
    <author>WINTER</author>
    <keywords>cordova,ionic,android,window background,color,background,window,theme,styles.xml</keywords>

	<engines>
	  <engine name="cordova-android" version=">=6.3.0" />
	</engines>

  	<platform name="android">
  		<preference name="WINDOW_BACKGROUND_COLOR" />

  		<edit-config file="app/src/main/AndroidManifest.xml" target="/manifest/application/activity[@android:name='MainActivity']" mode="merge">
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" android:label="@string/activity_name" android:launchMode="singleTop" android:name="MainActivity" android:theme="@style/CordovaWindowBackgroundTheme.Launched" android:windowSoftInputMode="adjustResize">
        </activity>
  		</edit-config>

      <custom-preference name="android-manifest/application/activity[@android:name='MainActivity']/intent-filter/action[@android:name='android.intent.action.MAIN']" delete="true" />
      <custom-preference name="android-manifest/application/activity[@android:name='MainActivity']/intent-filter/category[@android:name='android.intent.category.LAUNCHER']" delete="true" />

      <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest/application/activity[@android:name='MainActivity']/intent-filter">
          <action android:name="$PACKAGE_NAME.MainActivity" />
          <category android:name="android.intent.category.DEFAULT" />
      </config-file>

      <!-- HACK: parent needs to be unique for android.json facebook uses 'application', config file uses 'manifest/application' -->
      <config-file target="app/src/main/AndroidManifest.xml" parent="application/*/..">
        <activity android:launchMode="singleTop" android:name="com.openfam.windowbackground.SplashActivity" android:theme="@style/CordovaWindowBackgroundTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      </config-file>

      <source-file src="cordova_window_background_strings.xml" target-dir="app/src/main/res/values" />
      <source-file src="cordova_window_background_styles.xml" target-dir="app/src/main/res/values" />
  		<source-file src="cordova_window_background_launch_screen.xml" target-dir="app/src/main/res/drawable" />

  		<config-file target="app/src/main/res/values/cordova_window_background_strings.xml" parent="/*">
  			<color name="cordova_window_background">$WINDOW_BACKGROUND_COLOR</color>
  		</config-file>

  		<config-file target="app/src/main/res/drawable/cordova_window_background_launch_screen.xml" parent="/*">
        <item android:drawable="@color/cordova_window_background"/>

        <!-- offset by dialog title height to have centered with cordova splash screen plugin -->
        <item android:top="24dip">
          <bitmap android:src="@drawable/screen" android:gravity="fill"/>
        </item>
  		</config-file>

  		<config-file target="app/src/main/res/values/cordova_window_background_styles.xml" parent="/*">
        <style name="CordovaWindowBackgroundTheme" parent="@android:style/Theme.NoTitleBar">
        </style>
        <style name="CordovaWindowBackgroundTheme.Splash">
          <item name="android:windowBackground">@drawable/cordova_window_background_launch_screen</item>
        </style>
        <style name="CordovaWindowBackgroundTheme.Launched">
          <item name="android:windowBackground">@color/cordova_window_background</item>
        </style>
  		</config-file>
      <source-file src="SplashActivity.java" target-dir="app/src/main/src/com/openfam/windowbackground" />
  	</platform>
</plugin>
